.header{
    background-color: rgb(42, 70, 249);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    position: relative;
}

.app{
    font-size: 30px;
    color: aliceblue;

}

.add{
    display: flex;
    gap: 30px;
}


.searchWrapper{
    display: flex;
    width: 80%;
    margin: 40px auto;
    gap: 10%;
}